<div class="row2">
  <div class="col2">
    <h1>Memory Game: Welcome <%= @game %></h1>
    <script>
      window.gameName = "<%= @game %>";
    </script>
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>